$bgColor: #2c2c3b;
$dark: #1d1d26;
$pinkActive: #933150;
$pinkLight: #b15d56;
$pinkBg: #45243b;
$pinkHover: #5e1d41;
$blueActive: #4878e3;
$blueHover: rgb(123, 148, 217);
$blueDark: #27448c;
$purpleActive: #713a91;
